/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 14, 2024, 2:41:04 PM
    Author     : USER
*/

.side-nav{
    -fx-background-color: #d1001f;
}
.side-page{
    -fx-background-color: #F5F5F5;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
}
.radius{
    -fx-background-radius: 5px;
}
.btn{
    -fx-background-color: #fff;
}
.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #ae9393;
    -fx-border-width: 0.5px;
}
.textfield:focused{
    -fx-border-width: 1px;
}